/* General Styles */
body {
    font-family: "Quicksand", sans-serif;
}

#dnt-btn {
    background-color: #fbb801;
    color: #fff;
    width: 150%;
    margin-top: 5px;
    font-weight: bold;

}

/* Basic styling for navigation links */
.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}


/* Creating the underline effect */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #000;
    transition: width 0.9s ease, right 0.4s ease;
    color: white;
}

.navbar-nav {
    display: flexbox;
    margin-left: auto;

}

/* Animation on hover */
.nav-link:hover::after {
    width: 100%;
    left: 0;
    color: #fbb801;
}

.nav-link:hover {
    color: #fbb801;
}

/* .nav-link:active::after{
    color: #fb8b01;
} */

.nav-item {
    padding-left: 40px;
    margin-left: -4.5%;
    margin-right: 3%;
    padding-right: 1px;
    display: flexbox;
    gap: 10rem;

}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    font-weight: bolder;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#para {
    margin-top: 15%;
    backdrop-filter: blur(8px);
    justify-content: center;
}

.btn-volunteer {
    background-color: white;
    color: black;
    width: 20%;
    font-size: 1.2rem;
}

.btn-volunteer:hover {
    background-color: white;
    color: black;
}

.btn-donate {
    background-color: #fbb801;
    color: white;
    width: 20%;
    font-size: 1.2rem;
}

.btn-donate:hover {
    background-color: #fbb801;
    color: white;
}

.hero-txt h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-txt p {
    font-size: 1.2rem;
    justify-content: center;
}

.buttons .btn-volunteer,
.buttons .btn-donate {
    margin: 5px;
    margin-left: 3%;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.service-item img {
    height: 100px;
    width: 100px;
}

#about-btn {
    background-color: #fbb801;
    color: white;
}

#border {
    border-bottom: 1px solid#fbb801;
}

@media (max-width: 991px) {
    .navbar .nav-link {
        padding: 0.5rem 0rem;
    }

    .navbar {
        /* margin-top: 0.5rem; */
    }

    .hero-txt h1 {
        font-size: 2rem;
    }

    .hero-txt p {
        font-size: 1rem;
    }

    .team-text h5 {
        font-size: 1rem;
    }

    .team-text p {
        font-size: 1rem;
    }

    .hero-overlay {
        backdrop-filter: none;
        /* Remove backdrop-filter */
    }
}

@media (max-width: 575px) {
    .hero-txt h1 {
        font-size: 1.5rem;
    }

    .hero-txt p {
        font-size: 1rem;
    }

    .hero-overlay {
        backdrop-filter: none;
        /* Remove backdrop-filter */
    }

    .service-item img {
        height: 80px;
        width: 80px;
    }

    .team-text h5 {
        font-size: 1rem;
    }

    .team-text p {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        /* position: absolute;
        left: 21rem; */
        top: 10px;
        width: 60px;
    }

    .dnt-btn {
        width: 10% !important;
    }

    .copyRights {
        font-size: 12px;
    }

    * {
        overflow-x: hidden;
    }
}

.hero-overlay {
    backdrop-filter: none;
    /* Remove backdrop-filter */
}

.team-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-item:hover {
    transform: translateY(-20px);
}

.team-item img {
    border-bottom: 3px solid #fbb801;
}

.team-text {
    padding: 20px;
}

.team-text h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.team-text p {
    font-size: 1rem;
    color: #fbb801;
}

.team-social {
    margin-top: 10px;
}

.team-social .btn {
    color: #fff;
    background-color: #fbb801;
    margin: 0 5px;
}

.footer {
    background-color: white;
    color: black;
    width: 100%;

}

.footer h1 {
    font-size: 2rem;
}


.footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer .btn-square {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fbb801;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.footer .btn-square:hover {
    background-color: #fbb801;
}

.copyRights {
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 14px;
    background-size: cover;
    font-size: smaller;
}


@media (max-width: 767px) {
    .footer .d-flex {
        justify-content: center;
        margin: 0 auto;
    }

    .footer .d-flex a {
        margin: 0 5px;
    }

    #quick h5,
    #add h5 {
        padding-left: 0;
    }

    .footer h1 {
        text-align: center;
    }

    .hero-overlay {
        backdrop-filter: none;
        /* Remove backdrop-filter */
    }
}

@media(max-width:450px) {
    #para {
        margin-top: 0;
        /* margin-top: 35%; */
        backdrop-filter: none;
    }

    .hero-overlay {
        position: absolute;
        margin-top: auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("S2S/images/MOBILE_IMAGE.png") no-repeat center center;
        background-size: cover;
        /* backdrop-filter: none; */
        /* Remove backdrop-filter */

    }
    .hero{
        margin-top: 20%;
    }

    .hero h1 {
        font-size: 14px !important;
        margin-bottom: -20px;
    }

    .hero p {
        /* font-size: 1rem; */
        font-size: 10px !important;
        padding-top: 8%;
    }
    .btn-volunteer:hover {
        background-color: white;
        color: black;
    }
    
    .btn-donate {
        background-color: #fbb801;
        color: white;
        font-size: 10px !important;
        width: 30% !important;
        margin-top: 5px !important;
    }
    
    .btn-donate:hover {
        background-color: #fbb801;
        color: white;
    }
    .btn-volunteer {
        background-color: white;
        color: black;
        font-size: 10px !important;
        width: 30% !important;
        margin: 0 !important;

    }
    #about h1{
        font-size: 1.1rem;
    }
    #about p{
        font-size: smaller;
    }
    #our-mission h1{
        font-size: 1.1rem;
    }
    #our-mission h4{
        font-size: 1rem;
    }
    #our-mission p{
        font-size: smaller;
    }
    #footer p{
        font-size:2px;
    }
    #about-btn{
        font-size: 0.05rem;
      
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 0.05rem;
    }

    .hero p {
        font-size: 1rem;

    }

    .hero {
        background: url("S2S/images/MOBILE_IMAGE.png") no-repeat center center;
        background-size: cover;
       
    }

    .hero-overlay {
        backdrop-filter: none;
        /* Remove backdrop-filter */
    }

    #para {
        margin-top: 0%;
        backdrop-filter: none;
        /* Uncomment the following line if you want to use a background color instead of the image */
        /* background-color: #fbb801; */
        /* background: url("S2S/images/MOBILE_IMAGE.png") no-repeat center center; */
        /* background-size: cover; Ensures the image covers the entire area */
    }


    .buttons {
        flex-direction: column;
    }

    #about {
        margin-top: 9%;
    }


    .btn-volunteer,
    .btn-donate {
        width: 150px;
        margin: 5px 0;
    }

    #footer {
        width: 100%;
        padding-left: -20%;
    }

    /* body {
        margin-top: 10%;
    } */

    #navbarNavDropdown .nav-item .btn {
        width: 6rem;

    }
    #about h1{
        font-size: 1.7rem;
    }
    #about p{
        font-size: smaller;
    }
    #our-mission h1{
        font-size: 1.7rem;
    }
    #our-mission h4{
        font-size: 1.1rem;
    }
    #our-mission p{
        font-size: smaller;
    }
}

/* @media (max-width: 576px) {
    .hero h1 {
      font-size: 1.5rem;
    }
  
    .hero p {
      font-size: 0.9rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    .hero img {
      height: 200px;
      object-fit: cover;
    }
  
    .hero-overlay {
      padding: 10% 2%;
    }
  
    #about-btn {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  
    .display-6 {
      font-size: 1.5rem;
    }
  
    .service-item h4 {
      font-size: 1.2rem;
    }
  
    .service-item p {
      font-size: 0.9rem;
    }
  
    .team-text h5 {
      font-size: 1rem;
    }
  
    .team-text p {
      font-size: 0.8rem;
    }
  
    .footer p {
      font-size: 0.9rem;
    }
  
    .footer h5 {
      font-size: 1.2rem;
    }
  } */

@media (max-width: 320px) {



    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-toggler {
        top: 10px;
        width: 60px;
    }

    .hero h1 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 0.8rem;

    }

    #para {
        margin-top: 0%;
        /* backdrop-filter: blur(7px); */

    }



    .btn-volunteer,
    .btn-donate {
        font-size: 0.8rem;
        width: 200px;
    }

    .display-6 {
        font-size: 1.2rem;
    }

    .service-item h4 {
        font-size: 1rem;
    }

    .service-item p {
        font-size: 0.8rem;
    }

    .team-text h5 {
        font-size: 0.8rem;
    }

    .team-text p {
        font-size: 0.6rem;
    }

    .footer p {
        font-size: 0.8rem;
    }

    .footer h5 {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;

    }

    /* .nav-item{
        align-items:left;
    } */
    /* .dnt-btn{
        width: 3px;
        margin-right: -3%;
    } */
    #navbarNavDropdown .nav-item .btn {
        width: 6rem;

    }

}

@media (max-width: 1440px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .btn-volunteer,
    .btn-donate {
        font-size: 1rem;
    }

    #about-btn {
        font-size: 1.1rem;
        padding: 0.5rem 1.2rem;
    }

    .display-6 {
        font-size: 1.8rem;
    }

    .service-item h4 {
        font-size: 1.4rem;
    }

    .service-item p {
        font-size: 1rem;
    }

    .team-text h5 {
        font-size: 1.1rem;
    }

    .team-text p {
        font-size: 0.9rem;
    }

    .footer p {
        font-size: 1rem;
    }

    .footer h5 {
        font-size: 1.3rem;
    }
}



/* CSS for slide-in animation */
@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-in-out;
}

/* CSS for zoom-in hover effect */
.service-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(216, 20, 20, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.22);
}

/* Additional CSS for cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Additional styling for card content */
.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn-see-more {
    background-color: #fbb801;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn-see-more:hover {
    background-color: #fbb801;
    color: white;
    text-decoration: none;
}

#volunteer h4 {
    padding-left: 5%;
    margin-left: 5%;
}






@media(max-width:400px) {
    .hero h1 {
        font-weight: bolder;
        font-size: 18px;
    }

    .hero img {
        width: 100%;
        /* margin-top: 500px; */
        height: auto;
        backdrop-filter: none;
        display: block;
    }

}





#short {
    margin-left: 3%;
}